* {
    border: 1px solid red;
}

body {
    /* display: flex; */
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0; 
    background-color: #fff; 
}

.container {
    width: 1280px;
    height: 720px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack children vertically */
}

.row {
    width: 100%; /* Ensure row takes full width */
    display: flex; /* Use flex to align columns */
    justify-content: center; /* Center columns horizontally */
    align-items: center; /* Center columns vertically */
    margin-top: 0; /* Remove top margin to avoid offsetting */
}

.image-box {
    margin-top: 10%;
    height: 400px; /* Fixed height for the image box */
    width: 400px; /* Fixed width for the image box */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Hide overflow to prevent any part of the image from showing outside the box */
}

#profileImage {
    object-fit: cover; /* Scale to fit while covering area */
}

.small-box {
    height: 15%;
    /* background-color: #e9ecef; */
    /* border: 1px solid #ced4da; */
}

.big-box {
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set a fixed width for the big box */
    width: 60%; /* Adjust this value as needed */
    max-width: 400px; /* Optional: set a maximum width */
}

.row {
    border: 1px solid #ced4da;
    margin-top: 10%;
}

.alert {
    position: fixed; /* Fixed position */
    top: 5px; /* Distance from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    width: calc(100% - 40px); /* Full width minus margins */
    z-index: 1050; /* Ensure it is above other content */
}

.timeDisplay {
    font-size: 1.5rem; /* Adjust size as needed */
    font-weight: bold; /* Make it bold */
    color: #333; /* Change color */
}

/* .hidden-input {
    position: absolute;
    left: -9999px;
} */